.processos-container {
    width: 100%;
    max-width: 1120;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.processos-container .content {
    width: 100%;
    padding: 96px;
    background: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 01);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.processos-container .content section {
    width: 100%;
    max-width: 380px;
}

.processos-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.processos-container .content section p {
    font-size: 18px;
    color: #fff;
    line-height: 32px;
}

.processos-container .content section img {
    height: 300px;
    width: 600px;
}

.processos-container .content form {
    width: 100%;
    max-width: 450px;
}

.processos-container .content form input,
.processos-container .content form textarea {
    margin-top: 8px;
}